/* BG IMG */


@mixin bgImg($img){
    background-image: url(/public/nikes.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

/* container */

@mixin container($size){
    max-width:  $size;
    margin: auto;
}